@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/*** ROOT ***/
:root {
  /*** COLORS ***/
  /* PURE */
  --pure-white-color: #FFFFFF;
  --pure-black-color: #000000;

  /* LOGO */
  --red-color: #F22248;
  --indigo-color: #2B3A8C;
  --blue-color: #0597F2;
  --green-color: #58A664;
  --yellow-color: #F2CB05;

  /* THEME */
  --white-color: #F2F2F2;
  --black-color: #0D0D0D;
}

/*** MAIN ***/

html, body {
  margin: 0;
  padding: 0;

  font-family:'Quicksand';
  text-decoration: none;

  background-color: var(--pure-white-color);
  color: var(--black-color);
}

/*** HEADER ***/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: var(--pure-white-color);
  z-index: 1;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
.header-logo {
  height: 75px;
  margin-left: 25px;
  margin-right: 25px;
}
.header-name {
  font-size: 25px;
  text-decoration: none;
  color: var(--black-color);
}

.header-navbar {
  display: flex;
  align-items: center;
}
.header-navbar > * {
  margin-right: 25px;
  color: var(--black-color);
}
.header-icon-container {
  display: flex;
  justify-content: center;
}
.header-navbar-active {
  font-weight: 600;
  color: var(--blue-color);
}
.header-navbar-inactive {
  font-weight: 400;
  text-decoration: none;
}
.header-facebook-icon, .header-instagram-icon {
  width: 30px;
}

/*** HOME ***/



/*** FOOTER ***/

.footer {
  background-color: var(--blue-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: top;
  padding: 30px;
}

.footer-doan {
  display: flex;
  flex-direction: column;
}
.footer-doan-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.footer-doan-alt {

}
.footer-doan-quote {

}

.footer-link {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}
.footer-link-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.footer-link-veym .footer-link-membership .footer-link-store {
}

.footer-contact {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}
.footer-contact-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.footer-contact-link {
  display: flex;
  align-items: center;
}
.footer-contact-icon {
  width: 20px;
  margin-right: 5px;
}