@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/*** ROOT ***/
:root {
  /*** COLORS ***/
  /* PURE */
  /* --pure-white-color: #FFFFFF; */
  /* --pure-black-color: #000000; */

  /* LOGO */
  /* --red-color: #F22248; */
  /* --indigo-color: #2B3A8C; */
  /* --blue-color: #0597F2; */
  /* --green-color: #58A664; */
  /* --yellow-color: #F2CB05; */

  /* THEME */
  /* --white-color: #F2F2F2; */
  /* --black-color: #0D0D0D; */
}

/*** MAIN ***/
* {
  box-sizing: border-box;
  font-family:'Quicksand';
}

body {
  margin: 0;
  padding: 0;

  -ms-overflow-style: none;
  scrollbar-width: none;

  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  /*** COLORS ***/
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #000000;

  --primary-text-color: #000000;
  --secondary-text-color: #FFFFFF;

  --primary-accent-color: #0597F2;
}

body.dark {
  /*** COLORS ***/
  --primary-background-color: #242424;
  --secondary-background-color: #FDFDFD;

  --primary-text-color: #FDFDFD;
  --secondary-text-color: #000000;

  --primary-accent-color: #0597F2;
}

body::-webkit-scrollbar {
  display: none;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-container {
  position: relative;
  min-height: 100vh;
}
.content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 10rem;
}

/*** HEADER ***/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 99;

  padding-left: 2rem;
  padding-right: 2rem;

  font-size: 16px;
  height: 6rem;

  background-color: var(--primary-background-color);
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
.header-logo {
  height: 4rem;
}
.header-name {
  padding-left: 1rem;
  color: var(--primary-text-color);
  font-size: 1.5rem;
}

.header-navbar {
  display: flex;
  align-items: center;
}
.header-navbar > * {
  padding-left: 1rem;
  color: var(--primary-text-color);
}
.header-icon-container {
  display: flex;
  justify-content: center;
}
.header-navbar-inactive {
  font-weight: 400;
  text-decoration: none;
}
.header-navbar-active {
  font-weight: 600;
  color: var(--primary-accent-color);
}
.header-facebook-icon, .header-instagram-icon > * {
  width: 2rem;
  fill: var(--primary-text-color);
}

/*** FOOTER ***/

.footer {
  display: flex;
  justify-content: center;
  align-items: top;
  justify-content: space-around;

  position: absolute;
  bottom: 0;
  width: 100%;

  height: 10rem;

  padding-left: 2rem;
  padding-right: 2rem;

  padding-top: 1.5rem;

  background-color: var(--primary-accent-color);
  color: var(--secondary-text-color);
}

.footer-doan {
  display: flex;
  flex-direction: column;
}
.footer-doan-title {
  font-size: 1.5rem;
  font-weight: 600;

  margin-bottom: 0.5rem;
}
.footer-doan-alt {

}
.footer-doan-quote {

}

.footer-link {
  display: flex;
  flex-direction: column;
}
.footer-link-title {
  font-size: 1.5rem;
  font-weight: 600;
  
  margin-bottom: 0.5rem;
}
.footer-link-veym .footer-link-membership .footer-link-store {
}

.footer-contact {
  display: flex;
  flex-direction: column;
}
.footer-contact-title {
  font-size: 1.5rem;
  font-weight: 600;

  margin-bottom: 0.5rem;
}
.footer-contact-link {
  display: flex;
  align-items: center;
}
.footer-contact-icon {
  width: 1rem;
}
.footer-contact-email {
  padding-left: 0.25rem;
}

/*** HOME PAGE ***/

.home {
}
.home-image-section {
  display: flex;
  position: relative;
  width: 100%;
}
.home-image-container {
  display: flex;
  position: relative;
  width: 100%;
}
.home-image-container:before {
  position: absolute;
  content: "";
  background-color: var(--primary-accent-color);
  width: 100%;
  height: 100%;
  opacity: 80%;
}
.home-image {
  width: 100%;
}
.home-image-words-container {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-size: 6rem;
  font-weight: 600;

  color: var(--secondary-text-color);

  text-align: left;
}
.home-image-words {

}

.annoucements {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.annoucements-name {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.annoucement-elements {
  display: flex;
}
.annoucement-element {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 15px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.annoucement-element > * {
  margin-bottom: 10px;
}
.annoucement-header {
  display: flex;
  align-items: center;
}
.annoucement-header-image {
  height: 50px;
}
.annoucement-header-description {
  margin-left: 10px;
}
.annoucement-header-name {
  font-size: 20px;
  font-weight: 500;
}
.annoucement-header-time {
  font-size: 15px;
  font-weight: 200;
}


.news {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.news-title {
  font-size: 2rem;
  font-weight: 500;
}
.news-list {
  background: var(--primary-background-color);
}

.news-element {
  display: flex;
  align-items: center;
}
.news-element-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 300px;
  width: 250px;
}
.news-element-image {
  min-width: 100%;
  min-height: 100%
}

/*** ABOUT PAGE ***/
.about {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100%;
}

.about-main {
  display: flex;

  align-items: center;

  height: 20rem;
}
.about-main-image-container {
  height: 20rem;
}
.about-main-image {
  width: 100%;
  height: 100%;
}
.about-main-description {
  margin-left: 4rem;

  width: 40rem;
  
  font-size: 2rem;
  
}
.about-spacer {
  margin: 4rem;

  height: 4px;
  width: 80vw;

  border-radius: 4px;

  background-color: var(--primary-accent-color);
}
.about-element-lists {
  display: flex;

  height: 20rem;
}
.about-element {
  display: flex;
  align-items: center;

  margin: 4rem;
}
.about-element-image-container {
  display: inline-block;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;

  overflow: hidden;
}
.about-element-image {
  width: 100%;
}
.about-element-info {
  display: flex;
  flex-direction: column;

  width: 45rem;

  margin-left: 2rem;
}
.about-element-roleV {
  font-size: 3rem;
  font-weight: 500;
}
.about-element-roleE {
  font-size: 1.5rem;
}
.about-element-name {
  font-size: 2rem;
}

/*** CHAPTERS PAGE ***/
.chapters {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.chapters-title {
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
}
.chapters-list {
  display: flex;
  align-items: center;
}
.chapter-element {
  display: flex;
  flex-direction: column;

  width: 20rem;
  height: 30rem;
}
.chapter-image {
  width: 20rem;
}
.chapter-info {
  display: flex;
  flex-direction: column;
}
.chapter-name {
  font-size: 2em;
  font-weight: 500;
}
.chapter-description {
  font-weight: 300;
}
.chapter-quote {
  font-weight: 500;
}
.chapter-link {
  font-weight: 500;
}

/*** RESURCES PAGE ***/


/*** EVENTS PAGE ***/
.events {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.events-title {
  font-size: 2rem;
  font-weight: 500;
}
.events-content {
  display: flex;
  align-items: center;

  height: 40rem;

  justify-content: space-between;
}
.events-image-container {
  display: flex;
  width: 40rem;
}
.events-image {
  max-width:100%;
  max-height:100%;
}
.events-spacer {
  display: flex;
  margin: 4rem;
  
  height: 80%;
  width: 4px;

  border-radius: 4px;

  background-color: var(--primary-accent-color);
}
.events-list {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.event-element {
  display: flex;
  flex-direction: column;

  height: 10rem;
}
.event-content {
  display: flex;
  align-items: center;
}
.event-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-accent-color);

  border-radius: 8px;

  width: 8rem;
  height: 8rem;
}
.event-date-number {
  font-size: 3rem;

  color: var(--secondary-text-color);
}
.event-date-month {
  font-weight: 600;

  color: var(--secondary-text-color);
}
.event-info {
  display: flex;
  flex-direction: column;
  align-items: left;

  margin-left: 2rem;

  width: 16rem;
}
.event-info-name {
  font-size: 2rem;
  font-weight: 600;
}
.event-info-location-container {
  display: flex;
  align-items: center;
}
.event-info-location-icon {
  fill: var(--primary-text-color);
  width: 1rem;
}
.event-info-location {
  margin-left: 2px;
}
.event-info-description {
}

/*** CONTACT PAGE ***/
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100%;
}
.contact-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.contact-form {
  width: 30rem;
}
.contact-form-input-name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 1rem;
  border-radius: 5px;
  line-height: 1rem;
  background-color: transparent;
  border: 2px solid var(--primary-accent-color);
  transition: all 0.3s;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
.contact-form-input-email {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 1rem;
  border-radius: 5px;
  line-height: 1rem;
  background-color: transparent;
  border: 2px solid var(--primary-accent-color);
  transition: all 0.3s;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
.contact-form-input-text {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 1rem;
  border-radius: 5px;
  line-height: 1rem;
  background-color: transparent;
  border: 2px solid var(--primary-accent-color);
  transition: all 0.3s;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  height: 12rem;
  line-height: 150%;
  resize: vertical;
}
.contact-form-submit {
  width: 100%;
  background: var(--primary-accent-color);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: var(--secondary-text-color);
  
  font-size: 1.5rem;
  font-weight: 700;

  height: 3rem;

  transition: all 0.3s;
}
.contact-form-submit:hover { 
  background:var(--green-color);
}